body {
  padding-top: 70px;
}

.btn-info {
  background-color: #eee;
  font-weight: 400;
  font-size: 30px;
  border: 1px solid;
  color: #555;
  border-color: #ccc;
}

.btn-info:hover,
.btn-info:focus,
.btn-info:active {
  background-color: #B6B9BF;
  border-color: #ccc;
  outline: none !important;
}

.table {
  margin-bottom: 7px;
}