<div class="container" ng-controller="IssueCtrl">
  <div class="row">
    <div class="col-md-12">
      <div class="input-group"> <span class="input-group-addon">Filter</span>
        <input id="filter" type="text" class="form-control" placeholder="Type here..." ng-model="query">
      </div>
      <table class="table table-striped">
        <thead>
          <tr>
            <th><a href="" ng-click="orderByField='id'; reverseSort = !reverseSort">id</a></th>
            <th><a href="" ng-click="orderByField='description'; reverseSort = !reverseSort">Description</a></th>
            <th><a href="" ng-click="orderByField='category'; reverseSort = !reverseSort">Category</a></th>
            <th><a href="" ng-click="orderByField='project'; reverseSort = !reverseSort">Project</a></th>
            <th><a href="" ng-click="orderByField='assignee'; reverseSort = !reverseSort">Assignee</a></th>
          </tr>
        </thead>
        <tbody class="searchable">
          <tr ng-repeat="issue in issues | filter:filters||query | orderBy:orderByField:reverseSort">
          </tr>

        </tbody>
          <td>{{ issue.id }}</td>
<td >{{ issue.description }}</td>
<td ng-click="go(issue.category)">{{ issue.category }}</td>
<td ng-click="go(issue.project)">{{ issue.project }}</td>
<td ng-click="go(issue.assignee)">{{ issue.assignee }}</td>
      </table>
      <a ng-click="filters = ''">clear filter</a>
    </div>
  </div>
</div>